    body {
font-family: 'Courier New', Courier, monospace;
margin: 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}

.headerContainerLeft {
    display: flex;
}

.headerContainerRight {
    display: flex;
}

.icon {
    height: 3rem;
    padding-right: 0.5rem;
}

.fourLeafLogo {
    height:3rem;
}

.aboutMeSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 5% 5% 0 5%
}

.aboutMeLeftSide {
    max-width: 800px;
    height:auto; 
}


.myself {
    max-width: 20rem;
    border-radius: 10px;
    height: auto;
}

.skillsSectionContainer {
    display: flex; 
    justify-content: center;
    margin: 5% 5% 0 5%;
}

.skillsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectSectionContainer {
    display: flex;
    justify-content: center;
    margin: 5% 5% 0 5%;
}

.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin: 5% 0 0 0;
    font-weight: bold;
    background-color: #e2e2e2;
}