  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
  }
  
  .headerContainerLeft {
    display: flex;
    align-items: center;
  }
  
  .headerContainerRight {
    display: flex;
  }

  .socialNav {
    list-style: none;
    display:flex;
  }

  .socialNavButtons {
    max-height: 3rem;
    padding-right: 0.5rem;
  }

  .fourLeafLogo {
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .aboutMeSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 5% 5% 0 5%;
  }
  
  .aboutMeLeftSide {
    max-width: 800px;
    height: auto;
  }
  
  .myself {
    max-width: 20rem;
    border-radius: 10px;
    height: auto;
  }
  

  
  .projectSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 0 5%;
  }
  
  .projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-weight: bold;
    background-color: #e2e2e2;
    margin-top: auto;
  }

  

  
  